<mat-card-content>
  <mat-form-field class="pr-3 w-70">
    <input
      matInput
      type="text"
      placeholder="Enchant"
      aria-label="Number"
      [disabled]="!!enchant"
      [matAutocomplete]="auto"
      [autocomplete]="'no'"
      [name]="'enchant'"
      [value]="!enchant ? '' : enchant.type"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="changeType($event)"
    >
      <mat-option [value]="ench.type" *ngFor="let ench of validEnchants">
        {{ ench.type }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="!!enchant" class="w-20">
    <input
      type="number"
      placeholder="Level"
      aria-label="Number"
      matInput
      (change)="changeLevel($event)"
      min="1"
      [max]="enchant.max"
      [value]="!enchant ? '0' : enchant.level + ''"
    />
  </mat-form-field>
  <mat-icon
    class="cursor-pointer d-inline-block w-10"
    *ngIf="!!removable"
    [color]="'warn'"
    aria-hidden="false"
    aria-label="Remove"
    (click)="delete()"
  >
    backspace
  </mat-icon>
</mat-card-content>
