<img
  title="Simte V"
  width="50"
  alt="Enchanted Book"
  src="assets/EnchantedBookNew.gif"
/>
<mat-card>
  <mat-card-title>{{ enchantable.type }}</mat-card-title>
  <mat-card-content>
    <mat-form-field class="d-block w-40 ml-auto">
      <input
        matInput
        type="number"
        placeholder="Prior Work Penalty"
        [(ngModel)]="enchantable.penalty"
        min="0"
        max="31"
      />
    </mat-form-field>
    <div
      *ngFor="let enchanti of enchantable.enchants; let i = index"
      class="type"
    >
      <app-enchant
        [enchant]="enchantable.enchants[i]"
        (onRemove)="removeEnchantButton($event)"
        (onEnchantTypeChange)="changeType(i, $event)"
        (onEnchantLevelChange)="changeLevel(i, $event)"
        [validEnchants]="availableEnchantList"
        [removable]="true"
      ></app-enchant>
    </div>
  </mat-card-content>
</mat-card>
